@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary:#1C1E1A;
    --color-secondary:#31352E;
    --color-text-base:#EBEBE8;
    --color-text-accent:#9C9C9C;

    * {
      @apply transition-colors duration-500 ease-in-out;
    }
  }
}

@layer components {
  .pg-style {
    @apply text-textBase ml-[20%] flex h-full w-4/5 bg-primary;
  }
}

.theme-white {
    --color-primary:#1C1E1A;
    --color-secondary:#31352E;
    --color-text-base:#EBEBE8;
    --color-bg-primary:#1C1E1A;
}

.svg-icon{
  fill: var(--color-text-base);
}

html, body, #root, #app {
  height: 100%;
  margin: 0;
}