@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #080c11;
    --text-100: #111822;
    --text-200: #213145;
    --text-300: #324967;
    --text-400: #42618a;
    --text-500: #537aac;
    --text-600: #7594bd;
    --text-700: #98afcd;
    --text-800: #bacade;
    --text-900: #dde4ee;
    --text-950: #eef2f7;

    --background-50: #070d13;
    --background-100: #0e1925;
    --background-200: #1c334a;
    --background-300: #294c70;
    --background-400: #376695;
    --background-500: #457fba;
    --background-600: #6a99c8;
    --background-700: #8fb2d6;
    --background-800: #b5cce3;
    --background-900: #dae6f1;
    --background-950: #ecf2f8;

    --primary-50: #050c15;
    --primary-100: #09192a;
    --primary-200: #123254;
    --primary-300: #1c4b7d;
    --primary-400: #2564a7;
    --primary-500: #2e7dd1;
    --primary-600: #5897da;
    --primary-700: #82b1e3;
    --primary-800: #abcbed;
    --primary-900: #d5e5f6;
    --primary-950: #eaf2fa;

    --secondary-50: #060d14;
    --secondary-100: #0c1927;
    --secondary-200: #18324e;
    --secondary-300: #244b75;
    --secondary-400: #30649c;
    --secondary-500: #3c7dc3;
    --secondary-600: #6397cf;
    --secondary-700: #8ab1db;
    --secondary-800: #b1cbe7;
    --secondary-900: #d8e5f3;
    --secondary-950: #ebf2f9;

    --accent-50: #010c19;
    --accent-100: #011932;
    --accent-200: #023164;
    --accent-300: #034a96;
    --accent-400: #0463c8;
    --accent-500: #057bfa;
    --accent-600: #3796fb;
    --accent-700: #69b0fc;
    --accent-800: #9bcafd;
    --accent-900: #cde5fe;
    --accent-950: #e6f2fe;
  }
  .dark {
    --text-50: #080c11;
    --text-100: #111822;
    --text-200: #213145;
    --text-300: #324967;
    --text-400: #42618a;
    --text-500: #537aac;
    --text-600: #7594bd;
    --text-700: #98afcd;
    --text-800: #bacade;
    --text-900: #dde4ee;
    --text-950: #eef2f7;

    --background-50: #070d13;
    --background-100: #0e1925;
    --background-200: #1c334a;
    --background-300: #294c70;
    --background-400: #376695;
    --background-500: #457fba;
    --background-600: #6a99c8;
    --background-700: #8fb2d6;
    --background-800: #b5cce3;
    --background-900: #dae6f1;
    --background-950: #ecf2f8;

    --primary-50: #050c15;
    --primary-100: #09192a;
    --primary-200: #123254;
    --primary-300: #1c4b7d;
    --primary-400: #2564a7;
    --primary-500: #2e7dd1;
    --primary-600: #5897da;
    --primary-700: #82b1e3;
    --primary-800: #abcbed;
    --primary-900: #d5e5f6;
    --primary-950: #eaf2fa;

    --secondary-50: #060d14;
    --secondary-100: #0c1927;
    --secondary-200: #18324e;
    --secondary-300: #244b75;
    --secondary-400: #30649c;
    --secondary-500: #3c7dc3;
    --secondary-600: #6397cf;
    --secondary-700: #8ab1db;
    --secondary-800: #b1cbe7;
    --secondary-900: #d8e5f3;
    --secondary-950: #ebf2f9;

    --accent-50: #010c19;
    --accent-100: #011932;
    --accent-200: #023164;
    --accent-300: #034a96;
    --accent-400: #0463c8;
    --accent-500: #057bfa;
    --accent-600: #3796fb;
    --accent-700: #69b0fc;
    --accent-800: #9bcafd;
    --accent-900: #cde5fe;
    --accent-950: #e6f2fe;
  }
  * {
    @apply transition-colors duration-500 ease-in-out;
  }
}

@layer components {
  .section-spacing {
    @apply mx-auto px-8 py-12 sm:max-w-4xl sm:px-16 lg:max-w-4xl xl:max-w-5xl xl:px-0;
  }
  .section-inner {
    @apply px-4 py-6;
  }

  .landing-heading {
    @apply text-6xl text-[clamp(40px,8vw,80px)] font-semibold;
  }
  .heading {
    @apply text-2xl font-semibold xl:text-4xl;
  }
  .sub-heading {
    @apply text-xl font-semibold xl:text-2xl;
  }
  .paragraph {
    @apply text-base xl:text-lg;
  }
}

html,
body,
#root,
#app {
  height: 100%;
  margin: 0;
}

html {
  -webkit-scrollbar-width: thin;
  -moz-scrollbar-width: thin;
  -ms-scrollbar-width: thin;
  scrollbar-width: thin;
  -webkit-scrollbar-color: #495670 var(--primary-50);
  -moz-scrollbar-color: #495670 var(--primary-50);
  -ms-scrollbar-color: #495670 var(--primary-50);
  scrollbar-color: #495670 var(--primary-50);
}

body {
  background-color: var(--background-50);
}


/* @layer base {
  :root {
    --text-50: #eef2f7;
    --text-100: #dde4ee;
    --text-200: #bacade;
    --text-300: #98afcd;
    --text-400: #7594bd;
    --text-500: #537aac;
    --text-600: #42618a;
    --text-700: #324967;
    --text-800: #213145;
    --text-900: #111822;
    --text-950: #080c11;

    --background-50: #ecf2f8;
    --background-100: #dae6f1;
    --background-200: #b5cce3;
    --background-300: #8fb2d6;
    --background-400: #6a99c8;
    --background-500: #457fba;
    --background-600: #376695;
    --background-700: #294c70;
    --background-800: #1c334a;
    --background-900: #0e1925;
    --background-950: #070d13;

    --primary-50: #eaf2fa;
    --primary-100: #d5e5f6;
    --primary-200: #abcbed;
    --primary-300: #82b1e3;
    --primary-400: #5897da;
    --primary-500: #2e7dd1;
    --primary-600: #2564a7;
    --primary-700: #1c4b7d;
    --primary-800: #123254;
    --primary-900: #09192a;
    --primary-950: #050c15;

    --secondary-50: #ebf2f9;
    --secondary-100: #d8e5f3;
    --secondary-200: #b1cbe7;
    --secondary-300: #8ab1db;
    --secondary-400: #6397cf;
    --secondary-500: #3c7dc3;
    --secondary-600: #30649c;
    --secondary-700: #244b75;
    --secondary-800: #18324e;
    --secondary-900: #0c1927;
    --secondary-950: #060d14;

    --accent-50: #e6f2fe;
    --accent-100: #cde5fe;
    --accent-200: #9bcafd;
    --accent-300: #69b0fc;
    --accent-400: #3796fb;
    --accent-500: #057bfa;
    --accent-600: #0463c8;
    --accent-700: #034a96;
    --accent-800: #023164;
    --accent-900: #011932;
    --accent-950: #010c19;
  }
  .dark {
    --text-50: #080c11;
    --text-100: #111822;
    --text-200: #213145;
    --text-300: #324967;
    --text-400: #42618a;
    --text-500: #537aac;
    --text-600: #7594bd;
    --text-700: #98afcd;
    --text-800: #bacade;
    --text-900: #dde4ee;
    --text-950: #eef2f7;

    --background-50: #070d13;
    --background-100: #0e1925;
    --background-200: #1c334a;
    --background-300: #294c70;
    --background-400: #376695;
    --background-500: #457fba;
    --background-600: #6a99c8;
    --background-700: #8fb2d6;
    --background-800: #b5cce3;
    --background-900: #dae6f1;
    --background-950: #ecf2f8;

    --primary-50: #050c15;
    --primary-100: #09192a;
    --primary-200: #123254;
    --primary-300: #1c4b7d;
    --primary-400: #2564a7;
    --primary-500: #2e7dd1;
    --primary-600: #5897da;
    --primary-700: #82b1e3;
    --primary-800: #abcbed;
    --primary-900: #d5e5f6;
    --primary-950: #eaf2fa;

    --secondary-50: #060d14;
    --secondary-100: #0c1927;
    --secondary-200: #18324e;
    --secondary-300: #244b75;
    --secondary-400: #30649c;
    --secondary-500: #3c7dc3;
    --secondary-600: #6397cf;
    --secondary-700: #8ab1db;
    --secondary-800: #b1cbe7;
    --secondary-900: #d8e5f3;
    --secondary-950: #ebf2f9;

    --accent-50: #010c19;
    --accent-100: #011932;
    --accent-200: #023164;
    --accent-300: #034a96;
    --accent-400: #0463c8;
    --accent-500: #057bfa;
    --accent-600: #3796fb;
    --accent-700: #69b0fc;
    --accent-800: #9bcafd;
    --accent-900: #cde5fe;
    --accent-950: #e6f2fe;
  }
  * {
    @apply transition-colors duration-500 ease-in-out;
  }
} */